* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453A;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #42C3CA;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #4A4A4B;
	line-height: 23px;
}
 p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B757A;
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
 	color: #7B757A;
 	line-height: 24px;
 }

 a {
 	font-size: 14px;
 	color: #0093BA;
 	line-height: 17px;
 }
.padding-top {
	padding-top: 30px;
}
.padding-bottom {
	padding-bottom: 30px;
}
.margin-right {
	margin-right: 30px;
}
.padding-none {
	padding: 0;
}
.btn {
	padding: 20px;
	margin: 0;
	border-color: #9FB80B;
	border-width: 2px;
	color: #9FB80B;;
}
.btn:hover {
	border-color: #9FB80B;
}
.btn.delete {
	border-color: #aaaaab;
	color: #aaaaab;
}
.btn.delete:hover {
	border-color: #aaaaab;
	color: red;
}
.glyphicon {
	margin-right: 10px;
}
.top-sport {
	padding-top: 28px;
	padding-bottom: 28px;
}
.top-sport p {
	margin-bottom: 0;
	line-height: 14px;
}
.top-sport a {
	margin-bottom: 0;
	line-height: 14px;
	font-size: 14px;
	color: #7B757A;
	font-weight: 410;
}
.divider {
	height: 14px;
}
.divider.blue {
	background-color: #42C3CA;
}
.divider.green {
	background-color: #9FB80B;
}
.banner.main {
	height: 140px;
	background: url("/static/top-banner.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner.sport {
	height: 140px;
	background-color: #E1E17A;
}
.banner.profile {
	height: 140px;
	background-color: #A6E8EA;
}
.banner h1 {
	margin: 48px 0;
}
 .restaurant-list {
 	background-color: #F0F0FA;
 	padding: 25px;
u }
 .restaurant-list:hover {
 	background-color: #e1e17A;
 	padding: 25px;
}
.sport-item {
	background: #F0F0FA;
	padding: 25px;
	margin: 25px;
	margin-left: -25px;
}
.creator {
	padding-right: 25px;
	margin-top: -25px;
	text-align: right;
	float:right;
}
.creator img {
	width: 105px;
	border-radius: 45%;
}
.creator figcaption {
	font-size: 16px;
	color: #7B757A;
	font-weight: 410;
	margin-top: -25px;
}
.flash {
	background-color: #98FB9A;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}
